[2017-02-23 00:36] Nopzen opened #1 "Creating a prober configs object"
Instead of running the array of arrays currently a proper configs object, i think this needs to be a part of the v1.0 for keeping it as less possible breaking when a v2. should come down the line.

**Suggestion**
[code]

By doing this we will start to utilizing the opritunities the other xml stings have, such as being able to define the sheets name, and even in the future create multiple sheets in

[2017-02-23 00:54] Nopzen opened #2 "file & folder structure"
As of now the script was just roughly mocked to generate a `.xlsx` file that is readable, i would like to optimize so each of the formatters  `formatXMLRow`, `mapCell`, `generateNumberCell` and `generateNumberCell`would be separate files to clear up the space and make more readable code, and also makign a structure where more formatters could be implemented.

Like wise things like the `generateCol

[2017-02-23 07:29] Nopzen commented on #1
Given some thought about this durring the night, i think we can still do this, but redo my first iteration of the config object.

**Suggestion 2**
[code]

because this will still allow for a easy migration to the structure above, not a lot will change but it will almost seem similar, `sheet` -> `sheets` and adding support for extention when we can actually support it. and right now we will just ad

[2017-02-23 07:33] Nopzen opened #3 "Write documentation"
Needs to be done before release of tag `v1.0.0`

Basic explanation of the config file given to the `zipcelx` method.

[2017-02-23 09:28] Nopzen commented on #2
After verbal chat with @egeriis

**New convention to be tried**
[code]

[2017-02-23 09:28] #2 closed

[2017-02-23 09:35] Nopzen commented on #1
Running with **Suggestion 2** for `v1.0.0`

[2017-02-23 09:35] #1 closed

[2017-02-23 12:40] Nopzen opened #5 "Write tests to cover all formatters and generators"
as title says

[2017-02-24 15:12] andreiho opened #7 "Bundle up the module with Browserify"
Maybe publish on Bower as well. We would find this useful for some of our older projects where we're still doing things the old fashioned way.

[2017-02-24 20:58] Nopzen commented on #7
Hi @andreiho

Thanks for your interest in `zipcelx`.

I'm not super familiar with bower, but I will look at how to publish to bower tomorrow, I just did a bit of initial research if it's just creating a `bower.json` file and then link the dependencies as well that I have, I can totally do this "hopefully" over the weekend.

[2017-02-24 20:59] Nopzen commented on #3
Added Initial Wiki, and links in the `README.md`

Closing.

[2017-02-24 20:59] #3 closed

[2017-02-26 19:24] egeriis opened #8 "Put contribution guidelines into CONTRIBUTING.md"
GitHub facilitates the communication of contribution guidelines, if they're put in a file `CONTRIBUTING` or `CONTRIBUTING.md` in the root of a repo. Since you've made guidelines, it would be appropriate to put these in a `CONTRIBUTING` file.

More info: https://github.com/blog/1184-contributing-guidelines

[2017-02-27 12:08] #5 closed

[2017-02-27 12:09] Nopzen commented on #8
Added

[2017-08-08 23:23] utv opened #12 "Is there a merge cells feature ?"
I want to merge cells, how to do that?
Thank you.

[2017-08-10 08:38] egeriis commented on #12
That's unfortunately not supported, no. Would be a cool feature to add, if it doesn't add too much weight :)

[2017-08-10 18:48] utv commented on #12
Thank you.

[2017-08-10 18:48] #12 closed

[2017-08-11 17:55] gegobyte opened #13 "How to use?"
There is an [How to use](https://github.com/egeriis/zipcelx/wiki/How-to-use) page but it doesn't tell which files to include because after downloading, there are a ton of files, should I include them all? Please update the documentation.

[2017-08-14 14:14] egeriis commented on #13
Use npm/yarn to install the lib, then you're good to follow _How to use_.

[2017-08-14 14:14] #13 closed

[2017-09-10 00:33] pietersv commented on #7
This is a neat library, and works nicely in the browser.  Once browserify is installed, i was able to run the following command to create a bundle.

[code]
This could be added to the `package.json` as a script, e.g.
[code]

With the HTML you can call the global variable `zipcelx` created by the `--standalone` argument.  Note that the zipcelx constructor is exported as `module.defaults` in the sour

[2017-09-11 10:39] #7 closed

[2017-09-11 10:40] egeriis commented on #7
Bower support is not really interesting anymore. NPM has taken over and works fine.

[2017-09-11 10:49] andreiho commented on #7
@egeriis It isn't about the package manager, but rather about distributing the code so everyone can use it from the get-go, without any prerequisites.

Exporting it as a module will work if you're using a bundler like Browserify or Webpack, but won't work if you have a regular website. Here's how you'd do it: https://nolanlawson.com/2017/01/09/how-to-write-a-javascript-package-for-both-node-and-th

[2017-09-11 10:57] egeriis commented on #7
@andreiho I may be missing something. But zipcelx is built for the browser. What is your use case exactly?

[2017-09-11 11:08] andreiho commented on #7
@egeriis You're exporting the library as an ES6 module, which isn't supported in most browsers. So one would have to use Browserify or Webpack to bundle it up. That's perfectly fine, if you're using a bundler. But if you have a regular, old-school app or website where you include your libraries manually using <script> tags, you'll need a script that exposes the library on the window.

[2017-09-11 11:10] andreiho commented on #7
Will work for most people building modern apps:

[code]

However people building on legacy code will need to be able to do this:

[code]

[2017-09-27 11:11] egeriis commented on #7
@andreiho Right. Good point.

Do you mind creating a PR which makes it part of the build process? I.e. keeps existing `lib` folder but adds some kind of `release` folder or whatever makes sense.

[2017-10-20 07:45] VaskaDogana opened #15 "How about style for cells?"

[2017-10-20 15:30] egeriis commented on #15
Would be interesting. But there are some really great libraries that can do this for you, if you want to pay the price in terms of increased bundle size.

[2017-11-13 15:12] alexphys opened #16 "Future Development"
Are there any plans for creating a multisheet file?
Is there currently any way to name the single sheet?

[2017-11-14 11:09] egeriis commented on #16
No plans for that. This lib is meant to be as slim as possible. There are some great tools for more advanced xlsx creation :)

[2017-11-14 11:09] #16 closed

[2017-11-14 11:09] #15 closed

[2017-11-16 23:09] alexgleith opened #17 "Is it possible to have multiple tabs in a file?"
The documentation doesn't mention it, but what I'm interested in is having multiple tabs/sheets in a single file. Is this possible?

[2017-11-17 12:39] egeriis commented on #17
Unfortunately not, no. There are some other alternative libraries, that offer a wide range of features. The goal of this lib is to be as small as possible, so the functionality is naturally narrowed by that.

[2017-11-17 12:39] #17 closed

[2018-01-05 17:30] pigeontoe opened #18 "Windows Firefox Identifies File As WinRAR Zip Archive"
Everything seems to be working well, however Windows Firefox indentifies the file as a WinRAR Zip Archive from: Blob. Meanwhile, Windows Chrome seems to treat it like any other excel file. Any idea what's causing this?

The file opens in excel no problem, the user just sees a window asking if they want to open it with winRAR Archiver, which is inconvenient. Unfortunately this is the browser and OS

[2018-02-08 10:42] yaseek commented on #18
It's need to add mimeType 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' to invocation of zip.generateAsync as:
[code]

[2018-02-08 16:17] egeriis commented on #18
Did you specify a filename with `.xlsx` ending? Feel free to open a PR w/a thoroughly tested solution 🙂

[2018-03-01 13:16] Sadi-1992 opened #19 "Use this in AngularJS"
I'm trying to use your library in my AngularJS project but i'm always getting the same Error:

I cant use `import zipcelx from 'zipcelx';` and have to install the lib using bower. ("zipcelx": "git://github.com/egeriis/zipcelx.git#1.2.0")

is there a way to "import" this into my project?

[2018-03-01 17:57] egeriis commented on #19
Yes, that should definitely be possible. My theory is that bower doesn't look at the "main" configuration from package.json, since it's npm/yarn specific. But that would mean you'd have to import from the `lib/zipcelx.js` file.

[2018-03-02 10:33] Sadi-1992 commented on #19
"that **should** definitely be possible" ...   -____-

for your information: other plugins i've installed that way, are working well. i dont think that bower is the problem.

and i **can't use "import"** because its the wrong ES-Version.

Here my question in an other way: How can i "import" this into an AngularJs controller?

[2018-03-02 10:47] egeriis commented on #19
No need to be snark.

How do you import other modules?

[2018-03-02 10:54] Sadi-1992 commented on #19
They are automatically imported by bower and usable out of the box without any "import-command". But unfortunately, that "auto-import" does not work with your plugin and it's not getting listed in the index.html as an imported script like others do.

[2018-03-02 11:03] egeriis commented on #19
It's been a few years since I last looked at Bower, but looking at their docs it seems like you must have an additional build step. See "Use Packages" https://bower.io/#use-packages

[2018-03-02 11:12] Sadi-1992 commented on #19
yes, that the way the bower-components get automatically imported:
`<script src="bower_components/jquery/dist/jquery.min.js"></script>`

i've added `"zipcelx": "git://github.com/egeriis/zipcelx.git#1.2.0"` into my bower.json but it doesn't work. Other Plugins installed that way are working well.

[2018-03-02 12:30] egeriis commented on #19
This snippet doesn't import anything else than jQuery: `<script src="bower_components/jquery/dist/jquery.min.js"></script>`

You would need to add something like this: `<script src="bower_components/zipcelx/lib/zipcelx.js"></script>`

[2018-03-02 12:39] Sadi-1992 commented on #19
... i know ... it's just the example from bower.io
and `<script src="bower_components/zipcelx/lib/zipcelx.js"></script>` should be added automatically by "gulp" if everything is alright..

[2018-03-02 12:52] egeriis commented on #19
It may be that Bower doesn't know which file to use, because we don't have a Bower configuration in zipcelx. I'd err on the side of not adding that config, since Bower is practically deprecated. That doesn't mean you cannot use zipcelx, but you have to figure out how to get it into your build pipeline. As much as I'd like to help, I cannot because I don't have the information about your build pipe

[2018-03-02 12:57] egeriis commented on #18
Closed due to lack of activity

[2018-03-02 12:57] #18 closed

[2018-03-04 20:43] PixelCrux commented on #19
Do you have a built version of the script anywhere? lib/zipxelx.js imports several dependencies, so it cannot be simply imported into HTML like you say.

[2018-03-04 20:45] egeriis commented on #19
Good point @pixelcrux. We don’t, but I’ll fix that tomorrow.

[2018-03-07 15:00] egeriis commented on #19
@PixelCrux @Sadi-1992 Forgot to mention here, but there's a `standalone.js` file in #20. Pending review, but you can download and test it. Let me know if it works for you too 🙂

[2018-03-07 23:32] PixelCrux commented on #19
The script seems to have a bug. I tested in this Codepen: https://codepen.io/KingDragonhoff/pen/ddEXrv

[2018-03-08 10:47] egeriis commented on #19
@PixelCrux That's not a very good bug description. What are you experiencing?

[2018-03-08 11:16] Nopzen opened #21 "Validator enhancment"
Upon reviewing the #20 pull request, i stumpled upon the validator function and i was raising a flag that this can be done better with a proper `if else if` statement not returning false have the time, but instead throwing proper errors.

Im just raising this issue as a reminder for my self to get back to a re-write of this at a later time.

[2018-03-08 18:01] PixelCrux commented on #19
Sorry, I figured you would be able to go to the Codepen and check your browser's console. Visibly, nothing happens. When attempting to convert, the following exception occurs at line 1, column 151472: Uncaught TypeError: Cannot create property 'type' on number '1'.

[2018-03-08 18:29] egeriis commented on #19
I got an error from our lib in the console, because your data is invalid

[2018-03-08 18:34] PixelCrux commented on #19
It is just some test data. What is invalid about it?

[2018-03-08 19:55] PixelCrux commented on #19
Ah, I see. It looks to be working now. Thank you for this!

[2018-03-08 23:04] egeriis commented on #19
Thank _you_. Especially for continuing to be active. Your issue helped me make a better build pipeline and support more use cases ❤️

[2018-03-08 23:07] PixelCrux commented on #19
You're welcome! Now, do you think it would be possible to make this work on iOS? Right now, it almost works, but the Blob it gives the option to download is just the plain Zip file, "unknown.zip." Any ideas how to tell Safari that this is an XLSX file?

[2018-03-08 23:25] egeriis commented on #19
Hmm. That's an interesting question. iOS is a big peculiar with regards to file handling. Did you provide a filename, and it works properly on desktop?

[2018-03-08 23:26] PixelCrux commented on #19
Yes, it works brilliantly on desktop and uses the file name I specify.

[2018-03-09 10:28] egeriis opened #22 "Some browsers doesn't properly recognize file type"
As reported in #19, iOS doesn't properly recognize the generated file as an xlsx file, but rather thinks it's a zip file.

[2018-03-09 10:28] #19 closed

[2018-03-09 10:28] egeriis commented on #19
Let's move converstation to #22

[2018-03-09 10:46] egeriis commented on #22
@PixelCrux Can you try this standalone.js build? https://gist.github.com/egeriis/017981f86d55c33b7f7ee4c641d974c0

[2018-03-09 14:19] Dima000 opened #23 "Version 1.3.0 UglifyJs Error"
Hello,

We run a webpack minifier on vendor folder and we run into an error since you released version 1.3.0.
The error is the terminal is the following:

[code]

In the minified file the error is around
[code]

When downgraded to version 1.2.0 all works fine. Hope it is of use.

###### Other packages versions:
[code]

[2018-03-09 19:57] PixelCrux commented on #22
That build causes the browser to open the file in the same frame and display it like this:
![file mar 09 2 55 22 pm](https://user-images.githubusercontent.com/32367658/37227088-fef4b374-23a9-11e8-8b75-892ae6e42d1b.jpeg)

It does that for my method of exporting CSV's too.

[2018-03-09 23:39] simonberger commented on #22
I can confirm this issue and also that the provided jist package isn't working.

Slightly offtopic as this is a very new library it would be helpful to create some (one) jsfiddle (or similar service) URLs to see this library working and do some simple tests. It should be added to the front page.
Would be a good basic for those issues to discuss on too.

[2018-03-10 11:15] egeriis commented on #22
@PixelCrux Unfortunately the image you added is blank for me 🙁 Can you describe what you're seeing, and on which device?

@simonberger I think that's a good idea. We didn't have a standalone build to use in a jsfiddle until this week, so it wouldn't have been possible before. I will encourage you do make this jsfiddle and submit a PR added a reference in what you think is the appropriate place. Si

[2018-03-10 17:32] hermanfenderson opened #24 "Cannot build in create-react-app"
I am having this issue: npm run build fails to minify.

https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

[2018-03-11 05:10] PixelCrux commented on #22
Whoops. I have no idea what happened there. Let me try the screenshot again:
![img_3256](https://user-images.githubusercontent.com/32367658/37249998-6a9df100-24c0-11e8-9ea7-37f0b8c34286.jpg)

This happens on iPhone and iPad using the latest iOS version.

[2018-03-11 09:53] hermanfenderson commented on #24
Just a quick update on this...
I transpiled with babel /lib/module.js and of course it built OK.
So if only you could add a transpile to ES5 in the build process... it could work OK for all create-react-app users.

[2018-03-11 10:13] eakoriakin opened #25 "Does it support format options, such as column width and font?"

[2018-03-11 10:39] #25 closed

[2018-03-11 13:46] simonberger commented on #22
It seems you do not set the mime type option to jszip file generation which itself sets the contenttype to the blob.
The default type is application/zip so safari handles it correctly.

[2018-03-12 08:31] egeriis commented on #24
Hey @hermanfenderson, we also have a ES5 build in `lib/bundle.js`. But I can see from the documentation that you linked, that it's probably not build as is should

I will look into this within the next few days.

[2018-03-12 08:33] egeriis commented on #23
This is likely the same issue as #24. Since you're not using uglify-es, you have to use the ES5 build, which is found in `lib/bundle.js`, where as you're probably using `lib/module.js`. It's highly likely that this is a fault on our part though, as the `lib/module.js` build apparently cannot contain other ES6 features than _modules_.

[2018-03-12 08:33] #23 closed

[2018-03-12 08:36] egeriis commented on #22
@simonberger In the build I linked (gist), I do the same thing as in your build, as far as I can tell? It also seems to work for @PixelCrux, although it's not downloading the file. Are you experiencing the same thing?

[2018-03-12 08:44] simonberger commented on #22
Yes it opens inside the document for me as well.

[2018-03-19 11:50] vijaybritto opened #26 "Does it support styles?"
Hi,
 I want to add styles to cells like width and background color. Is it possible now or is it in the plans?

[2018-03-19 11:52] vijaybritto commented on #26
Saw the code and figured out that there is no support for styles. Are there plans to support this feature?

[2018-03-21 09:27] egeriis commented on #26
We are trying to scope down the feature set, to provide a slim library. I don't know how much weight adding styles support would add, do you have some knowledge on the complexity of this feature?

If it weighs a lot, it may make sense to create plugin support in the core, then allow developers to pick and choose which features they wish to add through plugins.

[2018-03-22 05:52] vijaybritto commented on #26
Isn't styles a basic feature? I'm not sure about the complexity here, but plugins would be a great way too

________________________________
From: Ronni Egeriis Persson <notifications@github.com>
Sent: Wednesday, March 21, 2018 2:57 PM
To: egeriis/zipcelx
Cc: Vijay Britto; Author
Subject: Re: [egeriis/zipcelx] Does it support styles? (#26)

We are trying to scope down the feature set, to provide a

[2018-03-22 09:59] egeriis commented on #26
Not a basic feature by our definition: enable production of xlsx files client-side from json payload.

This is our edge to more advanced client-side xlsx generators, we have a lightweight lib.

[2018-03-23 11:09] vijaybritto commented on #26
Okay, I was able to achieve the styling using msexcel-builder. Thanks.

[2018-03-23 11:09] #26 closed

[2018-03-23 19:54] Nopzen opened #29 "Warning on build"
Since the release of the rollup build process this warning is showing in the console's

[code]

@egeriis is this something intentional? i've never played around with rollup my self so i would not know?

[2018-03-24 10:18] Nopzen opened #31 "es6 import not working"
After developing #30 i stumbled across an issue, where I was not able to use the es6 `import` syntax, to import this module in a  non ejected`create-react-app` setup.

`create-react-app` before ejecting it has its own magical webpack setup, and upon digging abit I found a post on the webpack tracker that talked about multiple builds in npm module package file, and how webpack by default uses the `

[2018-03-24 10:20] Nopzen commented on #24
Hey @hermanfenderson im not sure if these could be related but in #31 I'm talking about how i event cant import this in a create react app setup, can i ask if you have Ejected your create react app and is in full control over the webpack setup your self?

[2018-03-24 18:34] ichbinedgar opened #32 "Uncaught (in promise) TypeError: (0 , _zipcelx2.default) is not a function"
Hi, I tried to use this library by using the example of the page "How to use"

But I received the following error when I tried to generate the file (a button that run the code):

"Uncaught (in promise) TypeError: (0 , _zipcelx2.default) is not a function"

EDIT: I solved by using **import 'zipcelx'** instead of **import zipcelx from 'zipcelx'**

[2018-03-26 16:44] #32 closed

[2018-03-26 16:45] ichbinedgar commented on #31
I solved by using
`import 'zipcelx'`
instead of
`import zipcelx from 'zipcelx'`

[2018-03-26 17:09] Nopzen commented on #31
@ichbinedgar Thanks, ill just try it out, but why is this happning ? i mean wont you need the from, to declare from which module you need to import from?

[2018-03-26 17:17] ichbinedgar commented on #31
I'm not an expert, but what I understand is that is equivalent to
`require('library_name');`

[2018-03-26 17:34] ichbinedgar commented on #22
There is a push request that fix this, but in the mean time I solved it by adding` , mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'}` to the file standalone.js

From

`... t.generateAsync({ type: "blob"}) ....`

To

`... t.generateAsync({ type: "blob", mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'}) ....`

[2018-03-26 22:57] simonberger commented on #22
@ichbinedgar
Yes this is the solution of egeriis and my gist as well.
I don't know why this hasn't been fixed in the code yet.

[2018-03-28 11:54] egeriis commented on #32
Thank you for noticing this. That is not the expected behavior, but I'm happy that you found a solution.

[2018-03-28 11:56] egeriis commented on #22
@simonberger It should work cross-browser, including iOS. There might be a way to force download, that may not be necessary to give a good user experience though.

I'll get this fix out in the official channel asap.

[2018-03-28 11:57] egeriis commented on #31
`import 'zipcelx';` is perfectly valid. Just not the way it's supposed to work. I want to get this fixed asap, I'll use `create-react-app` to verify the build.

[2018-03-28 11:58] egeriis commented on #29
I noticed this and my immediate conclusion was that it wouldn't be an issue. I may have been wrong, so let's keep this issue open.

May be linked to #31

[2018-03-28 13:55] simonberger commented on #22
@egeriis
Looking at the issues and commits in the FileSaver package there seems to be a nonstop fight to support the client side blob download of every new browser version.
mobile systems are special in trying to preview/open the file in an app anyway.

My point mainly was it seems to work correctly (or at least good enough) in iOS with this mime type fix.

[2018-04-18 10:07] BearandYoon opened #35 "zipcelx_1.default is not a function"
Hello

I am using zipcelx package in my Angular 5 project and It has worked in version 1.2.0 very well.
I updated this package version from 1.2.0 to 1.4.0 using ncu(npm-check-updates) then from update the version, it doesn't work for me.

This is an error message.
[code]

This is my code snippet.
[code]

this is a yarn lock info.
[code]

[2018-04-20 10:05] egeriis commented on #35
Yeah, this is a known issue. I messed up the build in #20 🙂 Hoping to fix this weekend

[2018-04-20 10:05] egeriis commented on #35
Duplicate of #31

[2018-04-20 10:05] #35 closed

[2018-04-25 20:54] guushamann commented on #31
i made a branch es6, I think this is how it should work, but i am not sure how to combine it with standalone
https://github.com/guushamann/zipcelx/tree/es6-version-only

changes are in
https://github.com/guushamann/zipcelx/blob/es6-version-only/rollup.config.js
https://github.com/guushamann/zipcelx/blob/es6-version-only/src/zipcelx.js

[2018-04-30 09:36] egeriis commented on #31
@guushamann Thank you for your contribution. There are a few things misunderstood from your changes:

#### Tree shaking

There's nothing to tree shake in zipcelx, there's only one export, so you don't get any benefits of doing a default vs named import. Neither should be the case for modules w/multiple exports, but that's irrelevant in this case.

#### Rollup config

We with to have all three buil

[2018-05-07 09:46] Radiergummi opened #38 "ES2015 class refactor"
I've reworked zipcelx into a class since it fits better into our application workflow. Just leaving this here for reference in case this is useful to you.

Notably, the public API is split between `analyze`, `build` and `download`, the `console` calls are gone in favor of actual thrown errors and the lodash dependency was removed since it's really just a few lines of code that don't do anything sp

[2018-05-07 11:50] egeriis commented on #38
Cool @Radiergummi

There are some clear benefits to this approach. One thing we could easily pull into the existing setup, is replacing `console.error` w/throwing errors. Good improvement alone.

I wonder what the file size would be if we compiled your code. Did you try that? 🙂

[2018-05-07 11:51] #31 closed

[2018-05-07 12:04] Radiergummi commented on #38
@egeriis I didn't compile it standalone yet - I'm working on a single page, intranet ERP system, so a few KBs more or less don't really matter to me ;)

I'm currently also working on support for date and boolean cells (the latter working already) - they only require few lines.

Additionally, I've implemented a method to convert ordinary objects into tabular arrays:
[code]

This method can handle s

[2018-05-07 13:27] Radiergummi commented on #38
Okay, see the [updated version here](https://gist.github.com/Radiergummi/29ad8a344e384031da05266833dbe2fd). Still having problems with date cells tho, any idea?

[2018-05-12 15:43] damianobarbati opened #40 "Auto type detection and auto header [enhancement]"
Wouldn't the following be much easier to use?
[code]

- header (or better first line of xlsx) can automatically detected with an `Object.keys` on first row or an array can be given into config to consider just specific set of properties in array
- String or Number is automatically detected from the value when populating the xlsx

This way no processing on the dataset would be required to developer

[2018-05-14 10:17] egeriis commented on #40
Thank you for the suggestion @damianobarbati 🙂 The reason we added explicit typing is due to potential expansion in the future. Since JSON doesn't natively support the more advanced types, e.g. dates.

I think it's very application specific what data structure you have to start, so I don't know if it's a good idea to change it in our lib, but I appreciate any arguments against this notion 🙂

[2018-05-14 10:26] damianobarbati commented on #40
Then it's a smart choice :)
I'd say it would be probably better "battery included" if it did automatic type and header detection as mentioned anyway, but allowing further customisations (i.e: parser/getter on properties) in the future once they get supported.

OT: do you think the reverse (parsing xlsx/xls single sheet) would be something doable in this very same project? Maybe supporting just xls

[2018-05-15 12:55] atelierJVA opened #41 "Using zipcelx in ie11"
I am building my app with Webpack and transpiring with Babel, but it crashes in IE11 (the other browsers work fine)
Any suggestion of how to make it work with IE11 —if possible—?

Thanks in advance

[2018-05-16 09:11] egeriis commented on #41
It purposefully doesn't transpile into ES5 🙂

babel is only used for jest. So it may be some leftovers that babel-loader is still there. Thanks for flagging this.

Did you link your the browser crash to non-ES5 build?

[2018-05-16 09:57] atelierJVA commented on #41
Yes, because zipcelx is using features like arrow functions or promises that are not supported in IE11.

To confirm it I tested and app that does not work when using the npm module:
[code]
If instead I build zipcelx from sources with web pack/babel, it works fine

[2018-05-18 11:47] Radiergummi commented on #38
Yup, as far as I found any resources on the format, the `s="whatever"` attribute refers to a specific format ID, which seems to be required to display dates, since Excel works with those cringeworthy 1904-dates internally... It's quite a big mess, actually 😄

[2018-05-18 14:33] egeriis commented on #38
Appears to be some docs here https://msdn.microsoft.com/en-us/library/office/documentformat.openxml.spreadsheet.cell.aspx

[2018-05-19 07:31] SarantopoulosKon commented on #24
I'm getting the same problem with create-react-app (not ejected). Even though it's working perfectly, when i'm trying to build the project it fails, getting the same error as @hermanfenderson

Thank you in advance!

[2018-05-28 14:06] egeriis commented on #24
@SarantopoulosKon the lib/bundle.js file is gone, see #36 + #39

Make sure to transpile zipcelx if necessary.

[2018-05-28 14:08] #24 closed

[2018-05-28 14:09] egeriis commented on #24
Closing as this issue has no actionables.

[2018-06-13 20:35] Nopzen commented on #29
Might very well have been, it seems to be overwith now. but now im getting:

[code]
Instead when building `standalone.js`

[2018-06-15 06:54] Vojis opened #42 "Manually refreshing a page with imported zipcelx crashes the app"
Hi,

We have been using zipcelx for a few months for a React app (we **didn't** use Create React App to bootstrap the project) and initially everything worked just fine. However, we just started experiencing a few issues.

1 -- similar to already explained issues (e.g. [#31](https://github.com/egeriis/zipcelx/issues/31)), when trying to import the library to a new component, the app crashes.
2 --

[2018-06-15 10:32] egeriis commented on #42
Sounds like this is unrelated to zipcelx? If using a previous version that worked for you before, it should still work unless you've changed something in your application.

The error you've screenshot though, seems to indicate that you're not transpiling zipcelx during build time. _This is new for zipcelx_, but a common practice for libs going forward to be written in ES6 and allows clients to dec

[2018-06-25 03:15] Vojis commented on #42
Thanks for the reply!

Unfortunately, we couldn't find a solution for this issue, so we had to write our own method to export to .csv file.

I'll close this issue now.

[2018-06-25 03:15] #42 closed

[2018-07-24 20:51] doliG opened #43 "[BUG] Zipcelx make my Uglify crash"
Hey guys,

First and foremost, thanks you for the amazing work you did providing us this small and super usefull library. I was totally delighted when I found it (thanks to medium).

So I used it in our Angular application, and everythings ok, except when it came to minimize the code we're shipping.

I get the following error during production build :
[code]

After investigation, it seems that Ugl

[2018-07-27 21:56] benammann commented on #43
+1

`npm run build` on react

`Creating an optimized production build...
Failed to compile.

Failed to minify the code from this file:

        ./node_modules/zipcelx/lib/module.js:16

Read more here: http://bit.ly/2tRViJ9

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! @ build: `react-scripts build`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the @ build script.
npm ERR! This is probab

[2018-08-16 12:56] jk171505 commented on #22
@egeriis any chance to have this fix in master? There is also problem with the name of the generated file in iOS - looks like the file name parameter is ignored by any browser on iOS. Any idea how to fix this?

[2018-08-16 14:28] egeriis commented on #22
@jk171505 Top of mind, I don't know what would cause the file name issue. We have a fix in a PR, I'll merge it today 🙂

[2018-08-16 20:48] egeriis commented on #22
@jk171505 Above mentioned is merged and published as 1.5.0, fyi

[2018-09-02 15:59] pfigueiredo opened #46 "Create excel table inside the sheet"
How to create an excel table in the sheet?
Can this be implemented?

[2018-09-03 09:32] egeriis commented on #46
What do you mean with an excel table? Do you have an example?

[2018-09-03 09:48] pfigueiredo commented on #46
Basically is a region of data, you can see an overview here:
https://support.office.com/en-us/article/overview-of-excel-tables-7ab0bb7d-3a9e-4b56-a3c9-6c94334e492c

[2018-09-03 12:17] bragma commented on #38
Hi, I'd like to use this lib but I really need dates support. I was about to start to work on a PR when I stumbled on this. How are you faring with dates? Thanks

[2018-09-03 12:43] Radiergummi commented on #38
@bragma Sorry, I'm of no help here. Since my project was due, I resorted to just inserting ISO dates which can be sorted using the standard sorter in Excel, since I was running out of time. I'll try to help you if you've got any questions while implementing though!

[2018-09-03 13:00] bragma commented on #38
@Radiergummi I may have the same problem, I need something pretty fast. I expected the change to be rather quick to do, but I've found out that just setting a style is not enough, a style document is needed. This is a bit disappointing...

[2018-09-03 14:40] doliG commented on #43
Hello @egeriis , and thanks for the quick reply.

I have to say I'm a real beginner when it comes to transpilation, babel, webpack and all this stuff.

I knew that I need to transpile it, but I don't really know how to transpile it correctly. Some explanations would be warmly welcomed.

[2018-09-03 16:04] egeriis commented on #46
Ah, I understand. No, that's out of scope for zipcelx unfortunately 🙂

[2018-09-03 16:04] #46 closed

[2018-09-03 16:06] egeriis commented on #38
Yeah, the Open Office format is not necessarily easy to work with. I understand why, but I remember the initial work on zipcelx and how much time we spend tearing the xlsx files apart 🙂

[2018-09-03 16:08] egeriis commented on #43
@doliG I assume from your reply that you're using webpack?

In that case you probably have some ignore rule for `node_module` in your webpack (babel-loader) or babel config. You would want to exclude zipcelx from the ignore rule.

We have an open discussion on changing this a bit though, see #45. But you still want to make my suggested change.

[2018-09-05 13:59] doliG commented on #43
Yes I am using webpack, and I'm using typescript too. So I'm not using babel and if possible, I'd like to avoid installing new dependencies only for transpiling one lib. Do you have any other solution ?

Thanks you, I had seen #45 before and think it's a great idea. In my opinion, all npm packages should be ready to use out of the box, without adding some builder configuration.

I wish you'll merg

[2018-09-11 15:27] egeriis commented on #43
@doliG Yeah, unfortunately the PR is not finalized imo.

This is really arbitrary, because JavaScript support varies from browser to browser. The suit of browsers you wish to support differs from many others, this is why we have babel (and it's `env` preset).

I haven't used TypeScript, but they're transpiling for you, right? E.g. if you use `import` statements, they'll likely get transformed in y

[2018-09-19 14:11] doliG commented on #43
Ok, so when do you think #45 will be finalized? I can help if needed.

Yes, this is arbitrary, and yes, there is a lot of various browsers and environments which run JavaScript. This is why I think it is important before shipping a package, to ensure that most of people could run it without trouble. And we have great tools for that, like babel.

Yes, Typescript use transpilation. The point here is

[2018-09-20 20:00] davidryansoftware opened #48 "NPM Module is not ES5 compatible"
The built version of the code included in the NPM module is not babel transpiled. This causes errors when trying to build projects that depend on this module.
To reproduce,
1 - Create a new js app with create-react-app.
2 - add zipcelx as a dependency.
3 - run the build.

outcome: you will get an error like the following
"npm run build fails to minify"

[2018-09-24 09:40] doliG commented on #48
More or less the same issue as #23 #24 #31 #43.

You should check PR #45.

[2018-09-24 12:18] doliG commented on #48
If you want I just finish a realse which is ES5 tranpiled and shipped as CommonJS module.

It works on my project : https://www.npmjs.com/package/zipcelx-es5-cjs

[2018-09-27 21:11] #48 closed

[2018-09-27 21:12] egeriis commented on #43
@doliG So unfortunately, as it goes with open source once in a while, that PR has stalled.

I really appreciate your contributions. If you want to, I'd love to have that PR wrapped up. Not much needs to be done, simply what's outlined in my last comment.

[2018-09-29 09:17] doliG commented on #43
Well, as I said in #48 , I have created a fork and changed the config.
It works on my project, but I'm not totally sure about what I've done 😋

If you're interessed, you can review it [here](https://github.com/doliG/zipcelx-es5-cjs/commit/4131b7402170473496eaa642242528e72a37f149).

[2018-10-01 13:36] egeriis commented on #43
@doliG Yeah, I took at look at it. It looks fine, except I would like to have a `module` build (the existing build) in addition to the CJS build (new `main`). Essentially what I outlined in #45 🙂

[2018-10-02 09:44] doliG commented on #43
I'm afraid I don't understand what a module build is.
At first I was thinking that you means the "standalone" build. Now, I'm pretty sure I was wrong, but I still don't get what you mean by a "module build".

If you can point me some docs explaining what it is, it would be very helpful.
Thanks.

Cf https://github.com/egeriis/zipcelx/pull/45#issuecomment-416185149

[2018-10-05 15:01] egeriis commented on #43
The module build is simply the existing one, but instead of removing it, point it to the path specified in package.json as `module` 🙂

[2018-10-10 12:06] peoplenarthax opened #50 "Stylings"
Hello!

I was taking a look at the OpenXML format for styling at cell level or even at Table level. Nothing too powerful but at least allow a minimal amount of formatting (font styling / bgColor). I believe that this can increase the bundle size but not in a big scale. My question is more, What is the bundle size / minimum feature proportion to consider such a change?

Maybe we can define the feat

[2018-10-10 12:36] egeriis commented on #50
I think I'll err to the answer I've previously given, that features like these would be lovely. I think they should come in some kind of plugin structure, so consumers can still get a minimal bundle if they don't need anything else.

[2018-10-10 13:01] peoplenarthax commented on #50
I totally agree with the vision and actually I quite like the job that has been done here (it's impossible to get a non overkilling xlsx exporter library). Is there a roadmap to achieve a plugin hierarchy? Some proposal? I would love to contribute more to this.

[2018-10-10 13:48] egeriis commented on #50
Not at all. It's not something I have personally pursued, so it would have to be a community effort 🙂

[2018-11-14 09:14] TrancePaul opened #51 "Column width support"
I've implemented a basic columns width feature that searches for columns config in data.sheet.cols and generates XML according to [Microsoft documentation](https://msdn.microsoft.com/en-us/library/office/documentformat.openxml.spreadsheet.columns.aspx)
`const data = {
  filename: 'report',
  sheet: {
    data: [
      [{
        value: 'Test',
        type: 'string'
      }, {
        value: 1000,

[2018-12-21 09:22] oscarbergstrom opened #53 "Some numbers not supported by Excel"
Hello!

I'm not certain on how to report this, but I'll give it a try:
It seems like when numbers are exported using zipcelx, Microsoft Excel is not happy with the formatting of the file. When opened in Excel it says:
"We found a problem with some content <name>.xlsx. Do you want us to try and recover as much as we can?"

When clicked 'no' the file is opened and all cells are cleared and empty.
Wh

[2018-12-21 10:19] #53 closed

[2018-12-21 10:35] egeriis commented on #53
@oscarbergstrom Did you find the solution, since you closed the issue? I'm curious

[2018-12-21 16:10] oscarbergstrom commented on #53
@egeriis :
Nope. It was a backend-issue on my part. I figured out that there were cells exported which were defined as numbers, but in fact contained a string "NaN". This caused Microsoft Excel to re-format these cells to type String and hence the warning.

[2019-01-03 23:20] TylerJBrown192 commented on #51
@egeriis @Nopzen Hey all, any chance that we could get a timeline on @TrancePaul 's PR potentially being accepted and merged? This definitely would be a nice-to-have.

[2019-01-12 10:17] katafractari opened #54 "Missing export default in file-saver dependency"
I'm getting
[code]
when using it in a Nuxt.js project. My import statement looks like this:

`import zipcelx from 'zipcelx'`

file-saver dependency resolves to 1.3.8, which does not do a ES6 style "export default".
I'm using zipcelx 1.5.0.

[2019-01-12 20:06] katafractari commented on #54
Workaround for this issue is to install the latest file-saver dependency.

`npm i -S file-saver@2.0.0`

[2019-01-22 13:51] #43 closed

[2019-02-05 23:52] emorling commented on #51
I would really like to see this merged.

[2019-02-07 14:48] egeriis commented on #54
this may be fixed with #56

[2019-02-07 14:48] #54 closed

[2019-02-07 14:55] egeriis commented on #51
The purpose of zipcelx is to create valid XLSX files in the browser, _with minimal footprint_.

There have been loads of feature requests, but each of those would add weight to said footprint. Considering the surprising amount of request for additional features. I've iterated many times that I find that the proper solution is something that enables more features, but does not add to the footprint

[2019-03-08 12:31] Raiondesu commented on #51
@egeriis, how about a plugins support, at least? Just so the additional functionality can be added manually, without the unneeded forks and excessive functionality of js-xlsx, which you suggest to use.

[2019-03-08 13:41] egeriis commented on #51
@Raiondesu That goes perfectly along with what I've been envisioning from all these requests. I haven't needed it though, so I haven't put in time myself to add that.

[2019-03-20 14:26] duola8789 commented on #51
@TrancePaul  Could you please tell me how to adjust column width for now?

[2019-03-20 14:38] ghost commented on #51
@duola8789 look at pool request I created? https://github.com/egeriis/zipcelx/pull/52

[2019-03-20 14:41] duola8789 commented on #51
@TrancePaul thanks

[2019-03-26 08:56] farahamawi opened #57 "error message on ios"
Hi,

I'm trying to generate excel file, it works fine on linux but on mac it gives this error
Error message “Excel could not open EMMA_2019 26th Mar.xlsx because some content is unreadable. Do you want to open and repair this workbook?”

once I click open it generates the data.
is there a way to fix it?

ps: my data types is string, number and date, so I convert the dates to string
I install the l

[2019-03-26 09:10] #57 closed, assigned to nobody

[2019-03-26 09:11] farahamawi commented on #57
sorry, something was incorrect with my data
fixed

[2019-03-26 19:03] ncabelin commented on #51
thanks for this package, but I don't understand how column width is not a basic feature though, strings and numbers get broken into new lines most of the time. At least having the ability to set widths should be something a majority would use imho.

[2019-05-20 13:28] rohitrishi opened #59 "Legacy.js(commonjs) not part of installed module"
Hello, Not sure if this is the best process to go about reporting/discussing this but I just npm installed this module and the folder that gets installed in node_modules does not contain the legacy.js file.

This is causing issues in our mocha testing framework. We are running our tests like so:
mocha test.js --require @babel\regiter --require setupTestInfra.js

I tried the `"ignore": [/node_modul

[2019-05-20 18:39] egeriis commented on #59
Thanks for reporting! I'll take a look asap.

[2019-05-24 18:25] dmitry-urenev opened #60 "Jest test are failing with zipcelx"
Hi guys, great library, I have the following error. My jest tests are failing with following error:
[code]

My setup: Angular 7 \+ Jest \+ zipcelx
`package.json` with all required dependencies for `zipcelx` and `jest` config looks like this:
[code]

The interesting thing is that the production build/serve works nice. Also when I ran it with `ng serve` everything worked and it produced the correct

[2019-05-27 09:23] dmitry-urenev commented on #60
resolved by adding `zipcelx` to `transformIgnorePatterns` config:
[code]
Related issues:  https://github.com/facebook/jest/issues/2081

[2019-05-27 09:23] #60 closed, assigned to nobody

[2019-05-27 14:34] egeriis commented on #51
@ncabelin

I'll quote myself 🙂

No talk about _basic_ features. Purpose is _minimal_ footprint to create _valid_ XLSX.

Again, some kind of plugin support to allow for opt-in features would be stellar. And I welcome community contribution and are willing to review any PR attempting to bring on a stable and scalable implementation.

[2019-05-27 14:34] #51 closed

[2019-05-27 14:46] egeriis commented on #59
It's included in v1.6.2. Thanks for reporting!

[2019-05-27 14:46] #59 closed, assigned to nobody

[2019-06-03 19:53] RaulPampliegaMayoral opened #61 "IE11 parse erroe with standalone.js"
Hi all. I'm trying to use the standalone version, but when I try to use it with ie11 tell me that an error occurred parsing the file.
Do you know if there are any problem with this browser?

[2019-06-11 10:03] egeriis commented on #61
It's supposed to be supported by IE11. Unfortunately I didn't introduce the standalone build, so I've never used it myself. Feel free to PR any fix needed!

[2019-06-11 13:03] RaulPampliegaMayoral commented on #61
Hi @egeriis Luckily with microsoft edge the library is working. This gives me some time to look at the problem. Asap i know something i'll make a pr.

Thanks

[2019-07-05 21:55] talesmgodois opened #62 "What about to have some method to convert csv to xls"
I was thinking about have a method to create, from csv a xls file. In this case, all types would be strings

[2019-07-08 10:25] egeriis commented on #62
That should be pretty easy to add on top of `zipcelx`. Write or use some kind of CSV parser, map that result into the `zipcelx` format.

It would be out of scope for `zipcelx` though.

[2019-07-08 19:01] talesmgodois commented on #62
Yes and I it was easy haha. I just thought it would be nice this feature inside of zipcelx. But it is ok if is out of scope.

[2019-07-09 08:29] egeriis commented on #62
We've got a very explicit goal statement in the README:

I'm afraid this will probably add to the footprint of zipcelx.

Closing issue, feel free to reopen if you feel there are more to discuss :)

[2019-07-09 08:29] #62 closed, assigned to nobody

[2019-09-20 11:15] bmblb opened #63 "Number column type doesn't work"
Hello.
Trying to set column type to 'number' for number columns, but that doesn't work, values are still treated like strings by MS Excel (latest). Although when I check XML markup of the resulted file I do see proper cell markup as defined by the cell generator function.
Is this issue known?

[2019-09-20 19:15] jphardman commented on #50
I see and understand your position regarding the smallest possible library.  I think it might be shortsighted since without styling, formulae, multiple sheets or charts there is no reason to use this over a plain csv file.

a simple solution: make a standard add-on syntax like this (add col definition to sheet object) `cols:[{width:150},{width:75}]` and an article about how you would add a handler

[2019-09-21 10:39] doliG commented on #50
@jphardman Reason is simple: MS Excel sucks at importing CSV. That's why we adopt zipcelx in my previous company.

I totally agree with it. The question is: how to make zipcelx modular. Because right now, we just return strings.

Maybe instead of strings, we should use DOM Methods. This way we can add hooks for plugins.

I.E:
[code]

[code]

And then we can call cell hooks and pass to them the new

[2019-10-01 03:57] andileco commented on #61
Not sure if this is related, but I was getting a syntax error that pointed to: "var oh = e => e.filename". That seemed to cause an error that prevented other JS (specifically, Highcharts) from working in IE 11, but was fine in Edge and other browsers.

[2019-11-20 00:39] BrAwnyTime opened #64 "NodeJS version (or supported methods)"
I attempted to use your library server-side in a NestJS application, but due to ZipJS throwing an error on `blob is not supported by this platform` specifically at `jszip/lib/utils.js:352:15`. It does look like this is possible.

I believe NodeJS would be support with two changes:
- if the config object was allowed to provide the type that ZipJS would use instead of hard coding blob
- if the Promi

[2019-11-22 14:09] egeriis commented on #64
@BrAwnyTime Feel free to submit a PR. I've got one strict rule, that you'll see repeated through many PRs: this lib is sensitive to bundle size increases, as it's sole purpose is to create valid xlsx output as lightweight as possible :)

[2019-12-05 02:12] Alexufo opened #65 "requirejs"
Hi, is it normal to use instead <script>?

[code]

I get `Uncaught Error: Module name "../js/zipcelx.js" has not been loaded yet for context: _. Use require([])`

[2019-12-08 01:58] #65 closed, assigned to nobody

[2019-12-23 07:56] peoplenarthax commented on #50
I gave it a thought for quite some time and never came with a proper solution for a plugin system were you could hook your functions (like adding color to cells, formulas etc etc). Your idea could be a first iteration at least @doliG

[2020-01-09 14:47] ianchouinard commented on #61
Running into this issue too. I think the standalone JS build needs to be run through a tool such as Babel to transform the code into something that is  "IE friendly". I'm seeing modern JS features such as const and arrow functions that aren't supported in IE.

Edit: Just noticed that this is stated in the docs "you are responsible for transpiling zipcelx for whatever target is relevant for your ap

[2020-02-07 09:44] mberrg opened #68 "Have a config option to return a blob and not mandatory save"
E.g. if filename is empty then return raw blob (not call file-saver saveAS).

The reason if you want to send the excel file or store it natively on Cordova/capacitor app.

[2020-03-18 09:23] sudipta1411 opened #70 "Excel file containing ESCAPE character not opening in Microsoft Excel viewer"
Hello,
I am exceuting the following code
       `var config = {"filename":"general-ledger-Q1","sheet":{"data":[[{"value":"Income -
Webshop","type":"string"},{"value":"You have 3 missed Call\u001b<s\u001b> from
+1234123412 Last call: 05-11-2019 11:56 ","type":"string"}]]}}; zipcelx(config)`

The generated XLSX file is not opened in Microsoft Excel Viewer, whereas it is opening in Google docs and WP

[2020-04-02 13:47] richpixel commented on #22
Has this been fixed? I still see the issue on iOS (WKWebView), (using zipcelx 1.6.2). When I try to download, I see the document in the browser frame as mentioned above by @PixelCrux .

[2020-05-14 22:59] davidramos-om commented on #68
@mberrg  thanks to you.. added
https://www.npmjs.com/package/zipcelx-on-steroids

[2020-06-09 18:30] jnarayan3039 opened #71 "Can we use this library without npm or yarn."
Hi,

I am trying to use this library from Salesforce Lightning Web Component, I imported the downloaded zip file as a static resource and then imported the module.js into my javascript file. I am running into issues. Below is my code and explanation

@salesforce/resourceUrl/zipcelx - refers to the static resource that has entire downloaded zip reference.
In salesforce we need to call loadScript fo

[2020-07-14 18:22] kaeverens opened #72 "XLSX file does not appear to be zipped"
I can't get a simple test file to load (numbers, letters). When examining the Zipcelx export in comparison to an XLSX sample file [from here](https://file-examples.com/index.php/sample-documents-download/sample-xls-download/), I can see that the Zipcelx file has plain raw XML in the file where I expect to see zipped material.

In this image, the Zipcelx export is on the left:

![image](https://use

[2020-07-24 22:07] egeriis commented on #72
Can you share a reproducible code example? Thanks

[2020-09-09 07:23] dolie opened #76 "Support Datetime type"
Hello,

Would it be possible to implement a Datetime support ? So it is correctly formated in excel.
It is another common type like Number and String.
It would be awesome ! 🙏

Thank you !

[2021-05-04 21:18] Heider1632 opened #80 "How to use multiple sheet?"
can be posible use multiple sheet in config object?

[2021-05-04 21:53] egeriis commented on #80
This might interest you https://github.com/egeriis/zipcelx/pull/47

[2021-05-04 21:53] #80 closed, assigned to nobody

[2021-05-04 21:54] #72 closed, assigned to nobody

[2021-05-04 21:54] egeriis commented on #76
PRs always welcome. Keep in mind the stated goal of the library.

[2021-05-04 21:54] #76 closed, assigned to nobody

[2021-05-17 13:08] nicklassigurdh opened #85 "There is no check that number is number. This creates a security issue"
There is no validation If you have a string as your value for a type number.
This makes it possible to insert xml and create a XML-injection attack

Example:
[code]

[2021-06-09 22:49] catamphetamine commented on #70
Note to devs:

One could decode "escape characters" like this:

[code]

[2021-06-09 22:50] catamphetamine commented on #70
@sudipta1411 How did "escape characters" end up in your data in the first place?
Perhaps you should first `unraw()` it and then call this library's functions.

[2021-06-19 04:14] catamphetamine opened #87 "For those who're looking for an alternative"
I started with copy-pasting the sources of `zipcelx` but then decided to rewrite it and added some features.
https://catamphetamine.gitlab.io/write-excel-file

-----

Update: or just https://www.npmjs.com/package/write-excel-file

[2021-07-02 20:23] arman-g commented on #87
Would be nice to see the finished library.

[2021-07-14 17:38] tarwaghila commented on #87
Is there a way to add style to the Cells ?
Like borders, font, backgroud color?
Thank you.

[2021-07-15 02:36] catamphetamine commented on #87
@tarwaghila

If you're talking about `write-excel-file` then searching the readme by "font" or "background color" shows that there is.

It also supports custom border styles.

[2021-07-26 03:29] pytdata opened #89 "exports is not defined"
Hello guyz,
so I  included the script tag in my code:

`<script src="../zipcelx/lib/legacy.js"></script>`

and also tried testing the library with this short code:

`<script>

    textXLSX=()=>{
        const exports = {
            filename: 'general-ledger-Q1',
            sheet: {
                data: [
                [{
                    value: 'Income - Webshop',
                    type:

[2021-07-26 03:34] egeriis commented on #89
If you plan to use the library without a build pipeline, you should use the
`standalone.js` file

On Sun, Jul 25, 2021 at 22:29 Sampah Emmanuel ***@***.***>
wrote:

[2021-07-26 04:00] pytdata commented on #89
Thanks @egeriis. :)
The error is gone but not excel file was generated.

[2021-07-26 04:22] egeriis commented on #89
Difficult to help without any debugging information :) Are you seeing any errors?

[2021-07-26 04:25] pytdata commented on #89
no please no errors at all

[2021-07-26 05:38] pytdata commented on #89
Hello @egeriis, everything is working just fine.

I have a base b4 encoded image, can it be used as a cell value, am trying to add image to the excel

[2021-07-26 07:50] IlyaDiallo commented on #89
No, just text or num values

[2021-07-29 21:21] #89 closed, assigned to nobody

[2021-11-16 08:22] RodionCoach commented on #87
yo, man, amazing things!

[2021-12-15 09:25] MoJo2600 commented on #87
@catamphetamine can't access your repository, because it is blocked by companys firewall. Not sure if your username is a smart choice :)

[2021-12-15 20:59] catamphetamine commented on #87
@MoJo2600 Yo bruh, want some?

[2022-09-20 10:07] kamit1983 opened #94 "Generate a Chart"
We need to render a chart in cel tab, now sure how should we go about it.

[2022-09-20 17:59] egeriis commented on #94
Unfortunately out of scope with this library. I'd suggest looking at more fully fledged libraries, like SheetJS :)

[2022-09-20 17:59] #94 closed, assigned to nobody